<div style="height: 100vh" fxLayoutAlign="center center">

    <mat-card class="mat-card-align" fxLayout="column" fxLayoutAlign="center center">

        <p>Create an Account</p>
        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(value)]="accountType">
                <mat-option value="fan">Fan</mat-option>
                <mat-option value="band">Band</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <div [ngClass]="accountType === 'fan' ? '' : 'element-visibility-hidden'"> -->
            <div *ngIf="accountType === 'fan'" fxLayout="column">

            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <!-- <div [ngClass]="accountType === 'band' ? '' : 'element-visibility-hidden'"> -->
            <div *ngIf="accountType === 'band'">
            <mat-form-field>
                <mat-label>Band Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Recovery Question</mat-label>
            <mat-select [(value)]="recoveryQuestion">
                <mat-option value="What was your first car?">What was your first car?</mat-option>
                <mat-option value="What Was your First pet's name?">What Was your First pet's name?</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Recovery Answer</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-stroked-button (click)="onCreateAccount()">
            Create Account
        </button>
    </mat-card>
</div>