<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true" style="height:100vh">
    <div fxLayout="column" fxLayoutGap="20px">

      <button  mat-stroked-button (click)="doFunction()">
        I do something
      </button>
      <button  mat-stroked-button routerLink="/login">
        Login
      </button>
      <button  mat-stroked-button routerLink="/dashboard">
        dashboard
      </button>
    </div>
  </mat-drawer>

  <div>
    <!-- <button  mat-stroked-button type="button" mat-button >
      Example button
    </button> -->
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
